TUWUNEL_SERVER_NAME=voidlesity.dev
TUWUNEL_NEW_USER_DISPLAYNAME_SUFFIX=
TUWUNEL_ADDRESS=["0.0.0.0"]
TUWUNEL_ALLOW_REGISTRATION=true
TUWUNEL_REGISTRATION_TOKEN=
TUWUNEL_REGISTRATION_SHARED_SECRET=
TUWUNEL_MAS_SECRET=
TUWUNEL_DELETE_ROOMS_AFTER_LEAVE=true
TUWUNEL_WELL_KNOWN__CLIENT=https://voidlesity.dev
TUWUNEL_WELL_KNOWN__SERVER=voidlesity.dev:443
TUWUNEL_WELL_KNOWN__LIVEKIT_URL=https://rtc.voidlesity.dev
TUWUNEL_SMTP__CONNECTION_URI=smtps://system%40voidlesity.dev:PASSWORD@HOST:465
TUWUNEL_SMTP__SENDER=Matrix at voidlesity.dev <system@voidlesity.dev>
TUWUNEL_SMTP__REQUIRE_EMAIL_FOR_REGISTRATION=true