TZ=Europe/Berlin
REDIS_URL=redis://cache
DATABASE_URL=postgresql://panel:panel@db/panel
DATABASE_MIGRATE=true
PORT=8000
AIO_BASE_WINGS_CONFIGURATION=/wings-config.yml
APP_DEBUG=false
APP_LOG_DIRECTORY=/var/log/calagopus
APP_PRIMARY=true # sets whether this panel instance is responsible for running background tasks (e.g. cleanup)
APP_ENABLE_WINGS_PROXY=true # enables the wings proxy feature, allowing the panel to proxy user requests to wings nodes, simplifies home network setups, not recommended for many nodes or high traffic setups
APP_ENCRYPTION_KEY=
APP_USE_DECRYPTION_CACHE=true # caches decrypted values in memory and redis to improve performance, can be considered less secure
APP_USE_INTERNAL_CACHE=true # caches short-lived values in app memory and redis instead of just redis, improves performance at the cost of higher memory usage